# example config

# username for svn repo access
USERNAME=foo
 # module name e.g. openvas-scanner
MODULE=openvas-scanner
 # name may be different from $MODULE
TAGS_MODULE=$MODULE
# name may be different from $MODULE
BRANCHES_MODULE=$MODULE
# path to created git repo e.g /path/to/manager-git
GIT_REPO_PATH=~/openvas-scanner-git

# set METADATA to false to strip svn metadata
# METADATA=true

# set a authors transform file if already existing
# if not set a new file will be generated with init.sh
# TRANSFORM_FILE=authors-transform-$MODULE.txt
